$susy: (
        flow: ltr,
        math: fluid,
        output: float,
        gutter-position: after,
        container: 1180px,
        container-position: center,
        columns: 20,
        gutters: 40,
        column-width: 40px,
        global-box-sizing: border-box,
        last-flow: to,
        debug: (
                image: hide,
                color: rgba(#66f, .25),
                output: background,
                toggle: top right,
        ),
        use-custom: (
                background-image: true,
                background-options: false,
                box-sizing: true,
                clearfix: false,
                rem: true,
        )
);
