@mixin media-1179px {
    @media only screen and (max-width: $breakpoint-1179px) {
        @content;
    }
}

@mixin media-min-1179px {
    @media only screen and (min-width: $breakpoint-1179px) {
        @content;
    }
}

@mixin media-999px {
    @media only screen and (max-width: $breakpoint-999px) {
        @content;
    }
}

@mixin media-699px {
    @media only screen and (max-width: $breakpoint-699px) {
        @content;
    }
}

@mixin media-699px-1179px {
    @media only screen and (min-width: $breakpoint-699px) and (max-width: $breakpoint-1179px) {
        @content;
    }
}